*.log
Tmp/
password
test*
!error*



git add .
git commit -m "Add file gitignore" 


Синтаксис

* Любое количество символов в имени файла
? Один символ в имени файла
[] Символьный класс для указания диапазона символов
! Исключает файл из игнорирования
